.FreelanceArea {
    padding: 80px 0;
    background: #F2F2F2;
    text-align: center;
}

.FreelanceArea > div {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.FreelanceArea hr {
    border: none;
    border-top: 1px solid #c5c5c5;
}

.FreelanceArea h2 {
    margin: 0 0 24px 0;
    font-size: 34px;
}

.FreelanceArea > div > div span {
    color: red;
}

.FreelanceArea p {
    font-size: 22px;
    line-height: 42px;
    color: darkslategray;
}

.FreelanceArea p span {
    font-size: 22px;
    padding: 0 12px;
}

.Header {
    display: flex;
    justify-content: center;
}

@media (max-width: 570px) {
    .DesktopOnly {
        display: none;
    }
}