.Input {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.Input p {
    margin: 8px 0 0 0;
    color: red;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    font: inherit;
    padding: 8px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    transition: border-color 0.3s;
}

textarea.InputElement {
    resize: vertical;
    min-height: 64px;
}

.InputElement:focus {
    border-color: #5353a8;
}

.Invalid {
    border-color: red !important;
}