.Logo a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 106px;
    height: 100%;
    user-select: none;
    text-decoration: none;
    color: black;
}

.Logo a:hover {
    color: black;
}

.Logo img {
    width: 32px;
}

.Logo h3 {
    margin: 0;
}