.Tag {
    display: inline-block;
    background-color: #dbdbdb;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    color: #0076ff;
    font-size: 14px;
    padding: 6px 10px;
    position: relative;
    transition: all 0.3s ease;
}

.Tag:hover {
    background-color: #83838313;
}

.Tag a {
    text-decoration: none;
    color: #0076ff;
}

span.Dot {
    padding: 6px 10px 6px 30px;
}

div.Dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 12px;
    top: 12px;
}