.Footer {
    margin-top: auto;
}

.Head {
    padding: 80px;
    background-color: #263648;
}

.Tail {
    padding: 24px;
    background-color: #002B36;
}

.Tail > div {
    display: flex;
    justify-content: space-between;
}

.Footer p {
    margin: 0;
    color: aliceblue;
}

@media (max-width: 600px) {
    .Tail > div {
        flex-flow: column;
        align-items: center;
    }
    
    .Tail > p:last-child {
        margin-top: 8px;
    }
}