.Footer {
    background-color: #302B27;
    padding: 24px;
    margin-top: auto;
}

.Footer > div {
    display: flex;
    justify-content: space-between;
}

.Footer p {
    margin: 0;
    color: aliceblue;
}

@media (max-width: 600px) {
    .Footer > div {
        flex-flow: column;
        align-items: center;
    }
    
    .Footer > div > p:last-child {
        margin-top: 8px;
    }
}