.Header {
    color: #253838;
}

h1.Header {
    font-size: 38px;
    margin-bottom: 0;
}

p.Header {
    font-size: 18px;
}

.Button {
    max-width: 1000px;
    width: 80%;
    padding-bottom: 80px;
    margin: -50px auto 0 auto;
}