.ContactArea {
    padding: 80px 0;
}

.ContactArea > div {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    position: relative;
}

.Success {
    padding: 64px 80px;
    margin: 40px auto 0 auto;
    display: flex;
    border: 1px solid #7878c7;
    border-radius: 6px;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.Success:hover {
    border-color: #b0b0f5;
}

.Success img {
    width: 140px;
    margin: 0 0 24px 0;
}

.Success p {
    line-height: 32px;
    min-width: 220px;
    width: 80%;
    text-align: justify;
    margin-bottom: 0;
}

@media (min-width: 700px) {
    .Success {
        flex-flow: row;
    }

    .Success img {
        margin: 0 24px 0 0;
    }

    .Success p {
        width: 280px;
    }
}